/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --animate-snow-1: animate-snow-1 5s infinite ease-in-out;
  --animate-snow-2: animate-snow-2 5s infinite ease-in-out;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(210, 80%, 54%);
  --first-color-alt: hsl(210, 80%, 50%);
  --title-color: hsl(210, 24%, 90%);
  --text-color: hsl(210, 16%, 70%);
  --white-color: #fff;
  --body-color: hsl(210, 32%, 4%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animations */
}

/* Snow animation */
@keyframes animate-snow-1 {
  0%, 100% {
    transform: scale(.5);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes animate-snow-2 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: background .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
    display: flex;
    color: var(--white-color);
}

.nav__logo img{
    width: 30px;
    transform: rotate(-10deg);
}

.nav__logo{
    align-items: center;
    column-gap: .25rem;
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link{
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__img-1,
.nav__img-2{
    position: absolute;
}

.nav__img-1{
    width: 40px;
    top: 6rem;
    left: 2.5rem;
    transform: rotate(-15deg);
}

.nav__img-2{
    width: 60px;
    right: 1rem;
    bottom: 2rem;
    transform: rotate(15deg);
}

/* Show menu */
.show-menu{
    top: 0;
}

/* Change background header */
.bg-header{
    background: var(--body-color);
}

/* Active link */
.active-link{
    color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
    position: relative;
    background: linear-gradient(180deg,
                hsl(210, 88%, 20%),
                hsl(210, 70%, 58%));
    height: 650px;
    padding-top: 7rem;
    overflow: hidden;
}

.home__title{
    color: var(--white-color);
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    text-align: center;
    margin-top: 1.5rem;
}

.home img{
    position: absolute;
}

.home__mountain-1,
.home__snow{
    bottom: 0;
}

.home__village,
.home__pine,
.home__moon,
.home__trineo{
    left: 0;
    right: 0;
    margin: 0 auto;
}

.home__village{
    width: 260px;
    bottom: 1rem;
}

.home__pine{
    width: 250px;
    bottom: 4rem;
}

.home__mountain-2{
    bottom: 3rem;
}

.home__mountain-3{
    bottom: 6rem;
}

.home__moon{
    width: 300px;
    bottom: 8.5rem;
}

.home__trineo{
    width: 250px;
    bottom: 14.5rem;
}

/*=============== ABOUT ===============*/
.about__container{
    position: relative;
    row-gap: 3.5rem;
}

.about__data{
    text-align: center;
}

.about__description{
    margin-bottom: 2rem;
}

.about__img{
    width: 320px;
    justify-self: center;
}

.about__snow-1,
.about__snow-2{
    width: 50px;
    position: absolute;
}

.about__snow-1{
    top: 12rem;
    left: 1.5rem;
    animation: var(--animate-snow-1);
}

.about__snow-2{
    right: -.75rem;
    bottom: .5rem;
    animation: var(--animate-snow-2);
}

/*=============== BUTTON ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 2rem;
    border-radius: 4rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: background .4s, box-shadow .4s;
}

.button:hover{
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 32px hsla(210, 80%, 54%, .7);
}

/*=============== SEND ===============*/
.send__container{
    position: relative;
    grid-template-columns: 200px;
    justify-content: center;
    row-gap: 3rem;
    padding-top: 1.5rem;
}

.send__card{
    text-align: center;
}

.send__img{
    width: 180px;
    margin-bottom: .75rem;
}

.send__title{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.send__description{
    font-size: var(--small-font-size);
    padding-inline: 1.5rem;
}

.send__snow-1,
.send__snow-2,
.send__snow-3{
    width: 50px;
    position: absolute;
}

.send__snow-1{
    left: 0;
    top: 7rem;
    animation: var(--animate-snow-1);
}

.send__snow-2{
    top: 23rem;
    right: 0;
    animation: var(--animate-snow-2);
}

.send__snow-3{
    bottom: 9rem;
    left: 0;
    animation: var(--animate-snow-1);
}

/*=============== CELEBRATE ===============*/
.celebrate__container{
    position: relative;
    row-gap: 3.5rem;
}

.celebrate__data{
    text-align: center;
}

.celebrate__description{
    margin-bottom: 2rem;
}

.celebrate__img{
    width: 320px;
    justify-content: center;
}

.celebrate__snow-1,
.celebrate__snow-2{
    width: 50px;
    position: absolute;
}

.celebrate__snow-1{
    top: 1.5rem;
    left: 1.5rem;
    animation: var(--animate-snow-1);
}

.celebrate__snow-2{
    top: 18rem;
    right: 0;
    animation: var(--animate-snow-2);
}

/*=============== FOOTER ===============*/
.footer{
    overflow: hidden;
}

.footer__container{
    position: relative;
    padding-block: 4.5rem 2rem;
    text-align: center;
}

.footer__logo,
.footer__social-link,
.footer__copy{
    color: var(--white-color);
}

.footer__logo{
    display: inline-block;
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    margin-bottom: 1rem;
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.footer__social-link{
    font-size: 1.25rem;
    transition: color .3s;
}

.footer__social-link:hover{
    color: var(--first-color);
}

.footer__copy{
    display: block;
    margin-top: 2rem;
    font-size: var(--smaller-font-size);
}

.footer__snow-1,
.footer__snow-2{
    position: absolute;
}

.footer__snow-1{
    width: 50px;
    top: 4.5rem;
    left: 0;
    animation: var(--animate-snow-1);
}

.footer__snow-2{
    width: 70px;
    top: 6.5rem;
    right: -3rem;
    animation: var(--animate-snow-2);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(210, 8%, 15%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(210, 8%, 35%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(210, 8%, 40%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--white-color);
    display: inline-flex;
    padding: .45rem;
    border-radius: .50rem;
    font-size: 1rem;
    color: var(--body-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll{
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
    .home__village{
        width: 360px;
    }
    .home__pine{
        width: 330px;
    }

    .about__container,
    .celebrate__container{
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 767px){
    .nav__toggle,
    .nav__close,
    .nav__img-1,
    .nav__img-2{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .home{
        height: 800px;
    }
    .home__village{
        width: 460px;
    }
    .home__pine{
        width: 400px;
        bottom: 7rem;
    }
    .home__moon{
        width: 450px;
        bottom: 12rem;
    }
    .home__trineo{
        width: 350px;
        bottom: 20rem;
    }

    .send__container{
        grid-template-columns: repeat(2, 200px);
        column-gap: 5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .section{
        padding-block: 7rem 3rem;
    }

    .home__title{
        font-size: 4rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .about__container{
        grid-template-columns: 500px 335px;
        align-items: center;
        column-gap: 6rem;
    }
    .about__data,
    .about__data .section__title{
        text-align: initial;
    }
    .about__img{
        width: 500px;
        order: -1;
    }
    .about__snow-1{
        top: 0;
        left: 0;
    }
    .about__snow-2{
        right: 10rem;
        bottom: 3.5rem;
    }

    .send__container{
        grid-template-columns: repeat(3, 220px);
        column-gap: 7.5rem;
        padding-top: 3rem;
    }
    .send__img{
        margin-bottom: 1rem;
    }
    .send__description{
        font-size: var(--normal-font-size);
    }
    .send__snow-1{
        left: -1rem;
        top: -1rem;
    }
    .send__snow-2{
        top: 3rem;
    }
    .send__snow-3{
        left: 22rem;
        bottom: 0;
    }

    .celebrate__container{
        grid-template-columns: 400px 500px;
        align-items: center;
        column-gap: 6rem;
    }
    .celebrate__data,
    .celebrate__data .section__title{
        text-align: initial;
    }
    .celebrate__img{
        width: 500px;
    }
    .celebrate__snow-1{
        top: 4.5rem;
        left: 14rem;
    }
    .celebrate__snow-2{
        right: 2rem;
    }

    .footer__container{
        padding-block: 5.5rem 3rem;
    }
    .footer__social{
        column-gap: 2rem;
    }
    .footer__social-link{
        font-size: 1.5rem;
    }
    .footer__snow-1{
        top: 8.5rem;
        left: 10rem;
    }
    .footer__snow-2{
        top: 8.5rem;
        right: 4rem;
    }
    .footer__copy{
        margin-top: 4rem;
    }

    .scrollup{
        right: 3rem;
    }
}

@media screen and (min-width: 1064px){
    .container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px){
    .home{
        height: 980px;
    }
    .home__title{
        font-size: var(--biggest-font-size);
    }
    .home__mountain-1,
    .home__mountain-2,
    .home__mountain-3,
    .home__snow{
        width: 100%;
    }
    .home__village{
        width: 750px;
        bottom: 4rem;
    }
    .home__pine{
        width: 720px;
        bottom: 12.5rem;
    }
    .home__mountain-1,
    .home__mountain-2{
        bottom: -.5rem;
    }
    .home__moon{
        width: 600px;
        bottom: 14rem;
    }
    .home__trineo{
        width: 500px;
        bottom: 28rem;
    }
}

/* For 2K+ resolutions */
@media screen and (min-width: 1700px){
    .home{
        max-width: 1280px;
        height: 990px;
        margin-inline: auto;
    }
}